div {
  width: 100%;
  height: 100px;
  background-color: #d3962f;
  color: #fff;
}

.bloco {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  color: #d3962f;
}

#bloco {
  width: 100px;
  height: 100px;
  background-color: rgb(26, 116, 168);
  color: #ddd;
}
